@font-face {
    font-family: Roboto-Bold;
    src: url(../../../fonts/Roboto-Bold.ttf);
}

.NewPhoto{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
}

.NewPhoto-Label{
    font-family: Roboto-Bold;
    color: #404040;;
}

.NewPhoto-Input{
    height: 10%;
    width: 50%;
}

.NewPhoto-Button{
    color: #404040;;
    font-family: Roboto-Bold;
    height: 10%;
    width: 10%;
    border: none;
    cursor: pointer;
}