@font-face {
    font-family: Roboto-Medium;
    src: url(../../../fonts/Roboto-Medium.ttf);
}

.TeacherItem-Name{
    margin-bottom: 2px;
    color: #24272A;
    font-family: Roboto-Medium;
}

.TeacherItem-Image{
    height: 80px;
}

.TeacherItem-Button{
    border-left: 1px solid grey;
    font-family: Roboto-Medium;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -110px;
    background-color: red;
    display: flex;
    height: 100%;
    width: 100px;
    transition: 0.2s;
}

.TeacherItem-Button:hover{
    border-left: 1px solid grey;
    font-family: Roboto-Medium;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -9px;
    background-color: red;
    display: flex;
    height: 100%;
    width: 100px;
    transition: 0.2s;
}