.Gallery{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.Gallery-Image{
    margin-top: 100px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,5.5);
}