.PhotoList{
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    padding: 0 10px;
}

.PhotoList-Item{
    border-bottom: 1px solid #24272A;
    padding: 15px 0;
    position: relative;
    cursor: pointer;
}